In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/titanic.csv', index_col='PassengerId')

In [4]:
data.count()

Survived    891
Pclass      891
Name        891
Sex         891
Age         714
SibSp       891
Parch       891
Ticket      891
Fare        891
Cabin       204
Embarked    889
dtype: int64

In [7]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [8]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data[data['Survived'] == 1].count()

Survived    342
Pclass      342
Name        342
Sex         342
Age         290
SibSp       342
Parch       342
Ticket      342
Fare        342
Cabin       136
Embarked    340
dtype: int64

In [13]:
data[data['Survived'] == 1]['Survived'].count()

342

In [14]:
data[data['Survived'] == 0]['Survived'].count()

549

In [15]:
survived = (float(data[data['Survived'] == 1]['Survived'].count())) / data['Survived'].count()

In [16]:
survived

0.3838383838383838

In [17]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [18]:
216.0 / (491 + 216 + 184)

0.24242424242424243

In [19]:
data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [21]:
data[data['Age'].notnull()]['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [24]:
data['SibSp'].head()

PassengerId
1    1
2    1
3    0
4    1
5    0
Name: SibSp, dtype: int64

In [25]:
data['Parch'].head()

PassengerId
1    0
2    0
3    0
4    0
5    0
Name: Parch, dtype: int64

In [26]:
data['Name'].head()

PassengerId
1                              Braund, Mr. Owen Harris
2    Cumings, Mrs. John Bradley (Florence Briggs Th...
3                               Heikkinen, Miss. Laina
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                             Allen, Mr. William Henry
Name: Name, dtype: object

In [27]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [28]:
data[data['Sex'] == 'female']['Name'].head()

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [29]:
data[data['Sex'] == 'female']['Name'].apply(lambda nm: nm.split(',')[0]).head()

PassengerId
2       Cumings
3     Heikkinen
4      Futrelle
9       Johnson
10       Nasser
Name: Name, dtype: object

In [30]:
data[data['Sex'] == 'female']['Name'].apply(lambda nm: nm.split(',')[0]).value_counts()

Andersson               6
Baclini                 4
Kelly                   3
Ford                    3
Skoog                   3
Palsson                 3
Brown                   3
Sage                    3
Lefebre                 3
Carter                  3
Barbara                 2
Sandstrom               2
Taussig                 2
Quick                   2
Peter                   2
Allison                 2
Harper                  2
Jussila                 2
Newell                  2
Van Impe                2
Murphy                  2
Goodwin                 2
Hippach                 2
Zabour                  2
Doling                  2
Mellinger               2
Hart                    2
Boulos                  2
West                    2
Collyer                 2
                       ..
Keane                   1
Dahlberg                1
Richards                1
Reynaldo                1
Toomey                  1
Jacobsohn               1
Lehmann                 1
Mannion                 1
Trout                   1
Troutt                  1
Hoyt                    1
Davis                   1
Ayoub                   1
Andrews                 1
Backstrom               1
Mayne                   1
Hegarty                 1
Frauenthal              1
Barber                  1
Heikkinen               1
Henry                   1
Phillips                1
Cleaver                 1
Hakkarainen             1
Dowdell                 1
Davison                 1
Penasco y Castellana    1
Cameron                 1
Silven                  1
Hewlett                 1
Name: Name, Length: 258, dtype: int64

In [31]:
data[data['Sex'] == 'female']['Name'][:20]

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
11                      Sandstrom, Miss. Marguerite Rut
12                             Bonnell, Miss. Elizabeth
15                 Vestrom, Miss. Hulda Amanda Adolfina
16                     Hewlett, Mrs. (Mary D Kingcome)
19    Vander Planke, Mrs. Julius (Emelia Maria Vande...
20                              Masselmani, Mrs. Fatima
23                          McGowan, Miss. Anna "Annie"
25                        Palsson, Miss. Torborg Danira
26    Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
29                        O'Dwyer, Miss. Ellen "Nellie"
32       Spencer, Mrs. William Augustus (Marie Eugenie)
33                             Glynn, Miss. Mary Agatha
39                   Vander Planke, Miss. Augusta Maria
40                          Nicola-Yarred, Miss. Jamila
41       Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Name: Name, dtype: object

In [40]:
def extract_name(full_name: str) -> str:
    fn = full_name.split(',')[1].strip()
    fn_clean = fn.split('(')[0].strip()
    res = fn_clean.split('.')[1].strip().split(' ')[0].strip()
    
    if not res:
        fn_clean = fn.split('(')[1].strip().strip('()')
        res = fn_clean.split(' ')[0].strip()
    
    return res

In [41]:
data[data['Sex'] == 'female']['Name'][:20].apply(extract_name)

PassengerId
2           John
3          Laina
4        Jacques
9          Oscar
10      Nicholas
11    Marguerite
12     Elizabeth
15         Hulda
16          Mary
19        Julius
20        Fatima
23          Anna
25       Torborg
26          Carl
29         Ellen
32       William
33          Mary
39       Augusta
40        Jamila
41         Johan
Name: Name, dtype: object

In [42]:
data[data['Sex'] == 'female']['Name'].apply(extract_name).value_counts()

William      13
Mary         11
Anna          9
Elizabeth     8
John          6
Thomas        6
Margaret      6
Alice         5
Frederick     5
James         4
Edward        4
Bertha        4
Ellen         4
Helen         4
Marion        3
Hanora        3
Catherine     3
Kate          3
Joseph        3
Charles       3
Amelia        3
Augusta       3
Katherine     3
Annie         3
Henry         3
Samuel        3
Albert        2
Frank         2
Alexander     2
Madeleine     2
             ..
Nicholas      1
Peter         1
Fatima        1
Stanton       1
Maria         1
Carla         1
Leopold       1
Julius        1
Mara          1
Katriina      1
Edgar         1
Berthe        1
Luise         1
Hildur        1
Mantoura      1
Eugenie       1
Guillaume     1
Wilhelm       1
Edwy          1
Simonne       1
Ingeborg      1
Anne          1
Virginia      1
Robina        1
Velin         1
Edwina        1
Georgette     1
Lucy          1
Delia         1
Eleanor       1
Name: Name, Length: 196, dtype: int64